/**************************************/
/**************** Root ****************/
/**************************************/
:root {
  --documentation: #111827;
  --navbar: #111827;
}

/**************************************/
/*************** Sidebar **************/
/**************************************/
.sidebar {
  border-right: 0;
  border-color: #1F2937;
  background-color: #111827;
overflow-x: hidden;
overflow-y: auto;
width: 100%;
max-width:640px;
width: 16rem;
margin-top: 0px !important;
    padding-bottom: 1.25rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

}
.sidebar ul li h1 a {
    color: #A78BFA;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 500;
    padding-bottom: .75rem;
    padding-top: .75rem;
}
.sidebar ul li h1 a:hover {
    color: #F9FAFB;
    font-weight: 500;
    padding-bottom: .75rem;
    padding-top: .75rem;
}
.sidebar ul li h2 {
    color: #9CA3AF;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 500;
    padding-bottom: .75rem;
    padding-top: .75rem;
}

.sidebar ul li ul li a {
  color: #DAE1E7;
}

.sidebar li a {
    color: #D1D5DB !important;
}
.sidebar li a:hover {
    color: #F9FAFB !important;
}
.sidebar li.is-active a {
     color: #A78BFA !important;
 }

.documentation h1:first-of-type {
	color: #F3F4F6 !important;
}
.documentation h2 {
	color: #A78BFA !important;
}
p {
	color: #D1D5DB !important;
}
